<!doctype html>
<html lang="ru">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="icon" type="image/png" href="../static/favicon_book.png" sizes="16x16">

    <title>books world!</title>
  </head>
  <body>
    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination indention mt-4">
          {% if this_page_num == 1 %}
            <li class="page-item disabled"><a class="page-link" tabindex="-1" href="../pages/index{{ this_page_num-1 }}.html">Передыдущая</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="../pages/index{{ this_page_num-1 }}.html">Передыдущая</a></li>
          {% endif %}
          {% for page_num in range(1, pages_quanity) %}
            {% if this_page_num == page_num %}
                <li class="page-item active"><a class="page-link" href="../pages/index{{ page_num }}.html">{{ page_num }}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="../pages/index{{ page_num }}.html">{{ page_num }}</a></li>
            {% endif %}
          {% endfor %}
          {% if this_page_num == pages_quanity-1 %}
            <li class="page-item disabled"><a class="page-link" tabindex="-1" href="../pages/index{{ this_page_num+1 }}.html">Следущая</a></li> 
          {% else %}
            <li class="page-item "><a class="page-link" href="../pages/index{{ this_page_num+1 }}.html">Следущая</a></li>
          {% endif %}
        </ul>
      </nav>
      {% for two_books in books_per_line %}
        <div class="row">
          {% for one_book in two_books %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../media/{{ one_book['img_src'] | urlencode }}" class="card-img" alt="обложка книги {{ one_book['title'] | urlencode}}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ one_book['title'] }}</h5>
                      <p class="card-text">{{ one_book['author'] }}</p>
                      <p>
                        {% for genre in one_book['genres'].split(',') %}
                          <span class="badge badge-light">{{ genre }}</span>
                        {% endfor %}
                      </p>
                      <p class="card-text">
                        <small class="text-muted"><a href="../books/{{ one_book['book_path'] | urlencode}}" target="_blank">Читать</a></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
  </body>
</html